nav li a{
    position: relative;
    text-transform: capitalize;
    font-size: 18px;
}

nav li a::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2.5px;
    border-radius: 5rem;
    background: white;
    transition: .2s ease-in-out;
}

nav li a:hover::after{
    width: 100%;
}